@import "colors";

@mixin button {
  .button {
    display: block;
    width: fit-content;
    text-decoration: none;
    padding: 1rem;
    background: $color-primary;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background: darken($color-primary, 10%);
    }
  }
}
