@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-text;
  font-size: 1rem;

  #app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &-header {

    }

    &-main {
      max-width: 1140px;
      min-width: 100%;
      margin: auto;
      flex: 1 0 auto;
    }

    &-footer {
      flex-shrink: 0;
      background: $color-dark;
    }
  }
}
