@import "../colors";

#about-container {
  max-width: 1140px;
  margin: auto;
  overflow: hidden;
  padding: 1rem 0;

  p {
    margin: 1rem 0;

    img {
      float: left;
      width: 300px;
      margin: 0 .5rem;
    }
  }

}
